[mail]
sender_email = riskdatateste@tcu.gov.br
sender_pwd = **********
receiver_email = *******@tcu.gov.br
receiver_name = *********
smtp = ****.tcu.gov.br
port = ****

[cnpj]
modulo = noticias_ner.cnpj.repositorio
classe = RepositorioCNPJAberto